include:
  - project: hpc/gitlab-pipelines
    file:
      - github-project-pipelines.gitlab-ci.yml


debug-info:
  script:
    - echo $CI_PIPELINE_SOURCE

channel_benchmark_perf_tests:
  trigger:
    project: hpc/cellular/coreneuron-perf-tests
    strategy: depend
  variables:
    # If we want to support the full set of other variables like NEURON_BRANCH,
    # CORENEURON_TAG and so on then look at SPACK_SETUP_COMMIT_MAPPING_URL,
    # SPACK_ENV_FILE_URL and so on in gitlab-pipelines, or follow the example
    # of how the CoreNEURON pipeline triggers the BlueConfigs pipeline.
    CHANNEL_BENCHMARK_BRANCH: ${CI_COMMIT_BRANCH}
