/benchmark/sources
/benchmark/install
/benchmark/build
/benchmark/channels/x86_64
/benchmark/channels/enginemech.o
/benchmark/channels/sim.conf
/benchmark/channels/out.dat
/benchmark/channels/*.log
/benchmark/channels/*.dat
/benchmark/channels/*.spk
/benchmark/channels/*core*
*slurm-*
/spack-envs/
/spack-outputs/
/spack-profiles/
/spack-specials/
/spack-src-dirs/
/benchmark/channels/*.qdrep
/benchmark/channels/*.sqlite
